**/.git
**/.gitmodules
**/.travis.yml
**/AUTHORS
**/BUILD
**/CHANGES
**/CHANGES.txt
**/CONTRIBUTORS
**/CONTRIBUTORS.txt
**/COPYING
**/Dockerfile
**/NOTICE
**/PATENTS
**/RELEASING
**/*.md
!README.md
!bf-p4c/**/*.md
!bf-asm/**/*.md

docker/Dockerfile*
