**/.git
**/.gitmodules
**/.travis.yml
**/AUTHORS
**/BUILD
**/CHANGES
**/CHANGES.txt
**/CONTRIBUTORS
**/CONTRIBUTORS.txt
**/COPYING
**/Dockerfile
**/NOTICE
**/PATENTS
**/RELEASING
**/*.md

docker/Dockerfile*
