[submodule "p4c"]
	path = p4c
	url = git@github.com:p4lang/p4c.git
[submodule "glass"]
	path = glass
	url = git@github.com:barefootnetworks/p4c-tofino.git
[submodule "p4-tests/p4_16/google-tor"]
	path = p4-tests/p4_16/google-tor
	url = git@github.com:barefootnetworks/google-internal.git
	branch = bf-tor
[submodule "p4-tests/p4_16/bf-onos"]
	path = p4-tests/p4_16/bf-onos
	url = git@github.com:barefootnetworks/bf-onos.git
        branch = bf-onos-old
        shallow = true
[submodule "p4-tests/p4_14/p4-tests"]
	path = p4-tests/p4_14/p4-tests
	url = git@github.com:barefootnetworks/p4-tests.git
[submodule "p4-tests/p4testutils"]
	path = p4-tests/p4testutils
	url = git@github.com:barefootnetworks/ptf-utils.git
[submodule "p4-tests/p4_14/switch"]
	path = p4-tests/p4_14/switch
	url = git@github.com:barefootnetworks/switch
[submodule "p4-tests/p4examples"]
	path = p4-tests/p4examples
	url = git@github.com:barefootnetworks/p4examples
[submodule "p4-tests/p4_14/switch-jbay"]
	path = p4-tests/p4_14/switch-jbay
	url = git@github.com:barefootnetworks/switch.git
[submodule "p4-tests/p4_16/bf-onos-new"]
	path = p4-tests/p4_16/bf-onos-new
	url = git@github.com:barefootnetworks/bf-onos.git
[submodule "p4-tests/p4_16/switch_16"]
	path = p4-tests/p4_16/switch_16
	url = git@github.com:barefootnetworks/bf-switch.git
[submodule "compiler_interfaces"]
	path = compiler_interfaces
	url = git@github.com:barefootnetworks/compiler-interfaces.git
[submodule "p4-tests/p4_14/switch-8.5"]
	path = p4-tests/p4_14/switch-8.5
	url = git@github.com:barefootnetworks/switch.git
