[submodule "p4c"]
	path = p4c
	url = git@github.com:p4lang/p4c.git
[submodule "p4-tests/p4_16/google-tor"]
	path = p4-tests/p4_16/google-tor
	url = git@github.com:barefootnetworks/google-internal.git
	branch = bf-tor
[submodule "p4-tests/p4testutils"]
	path = p4-tests/p4testutils
	url = git@github.com:barefootnetworks/ptf-utils.git
[submodule "p4-tests/p4_14/switch"]
	path = p4-tests/p4_14/switch
	url = git@github.com:barefootnetworks/switch
[submodule "p4-tests/p4examples"]
	path = p4-tests/p4examples
	url = git@github.com:barefootnetworks/p4examples
[submodule "p4-tests/p4_16/switch_16"]
	path = p4-tests/p4_16/switch_16
	url = git@github.com:barefootnetworks/bf-switch.git
[submodule "compiler_interfaces"]
	path = compiler_interfaces
	url = git@github.com:barefootnetworks/compiler-interfaces.git
[submodule "p4-tests/p4-programs"]
	path = p4-tests/p4-programs
	url = git@github.com:barefootnetworks/p4-tests.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
