services:
- docker

notifications:
    slack: barefootnetworks:DLConaMwl9V5JAlA3hErnoSE#brig-travis

branches:
  only:
  - master
  - stable

cache:
  timeout: 600
  directories:
  - $HOME/.ccache

env:
  global:
    - MAKEFLAGS="-j4"
    - DOCKER_USERNAME="bfndocker"
    - CTEST_OUTPUT_ON_FAILURE="true"
    - CTEST_PARALLEL_LEVEL=4
    - secure: "jE3hbAEwkQZCH/3BsGBHCTPi4r72Lhum1cEw3sC/87BHLCz3C6txsZuFUKopj+/cAS/HPITSjFagkb0L3cYhXNwt5jT8Imu+TMdmClX4w9uOxbk98ecEHl0Gou9sEm0DDk6yHuzneLaLfaQDZayIA/48LvkYxSVbBMDSkEyQfD5UjAYCRxN8r+rucazeG5m7875p7sXAd1QkeFg8svL0KdQJBjn82e6oFxPNQvG9aXu5YaIvJ8vB2jrwa1a8IKg4KKJbI/Mj3+5qdbe+U8+4Jm36IpMROAe9Fyt2eiGFgPe+Cvp6ZNkh/vYFt7V+EW0rpuK5N6K5sEYL34/sMLLHbaSjFawpskR337PUACdP5NgWLNb/wmZC1V7gRYBbtOEZVJlQFCTTeN1ik7ziCdLC5kEUPHIWHN3U5EhQQ/RkAaM4+MXohx3top1pP8HIcD0r434F90alICYGPBRstkgmWKO9/9qR0JJ5KAzRgbS3Xp6fWifodlYGjnCIpZd7/L5hJPENu5y3vAJgsiqn3yLIvPER9QXY858Io0GhJ3/Q0oIr4qF+sOWvUUWRrLHFO7TDL6q/BiZ45vdEBQoukqzXN4me/E/CbP4Vv3fpcmu3COe/R/v44zkh1d8ZzbgABgbi1v9HjW5PadwNP8HDABjerL0pwLCxOGWqlYgvWTotU2g="
  matrix:
    # Run all tofino tests excluding smoketests
    - TEST_SUITE="^tofino/"
      TEST_EXTRA_OPTS="-E"
      TEST_EXTRA_OPTS2="smoketest|/programs|p4testgen|tofino/switch_"
      IMAGE_TAG="bf-p4c-compilers_tofino"
      DOCKERFILE=Dockerfile.tofino
    # Run all tofino smoke tests
    - TEST_SUITE="^tofino/.*programs"
      TEST_EXTRA_OPTS="-E"
      TEST_EXTRA_OPTS2="p4_16|TestRealData|stful_2|_dkm|_exm_smoke_test"
      IMAGE_TAG="bf-p4c-compilers_smoke_programs"
      DOCKERFILE=Dockerfile.tofino
    # Run all jbay tests (including cpplint and gtest)
    - TEST_SUITE="^tofino2|cpplint|gtest|test_p4c_driver"
      TEST_EXTRA_OPTS="-E"
      TEST_EXTRA_OPTS2="smoketest"
      IMAGE_TAG="bf-p4c-compilers_jbay"
      DOCKERFILE="Dockerfile.tofino"

before_install:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"

install:
  - cat /proc/cpuinfo
  - p4c/tools/start_ccache
  - docker build --network ccache_network -f $DOCKERFILE -t $IMAGE_TAG --build-arg IMAGE_TYPE=test .

script:
  - docker run --privileged -w /bfn/bf-p4c-compilers/build/p4c -e CTEST_PARALLEL_LEVEL -e CTEST_OUTPUT_ON_FAILURE -e MAKEFLAGS $IMAGE_TAG ctest -R $TEST_SUITE $TEST_EXTRA_OPTS $TEST_EXTRA_OPTS2
